@charset 'utf-8';
@import '_mixin';

/********** common  **********/

@keyframes float {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes back_ani {
  0% {
    background-position: center;
    background-size: 100%;
    opacity: 0.7;
  }
  8% {
    background-position: 0px;
    background-size: 110%;
    opacity: 0.8;
  }

  10% {
    background-position: left;
    background-size: 130%;
    opacity: 1;
  }

  42% {
    background-position: center;
    background-size: 110%;
    opacity: 0.9;
  }

  55% {
    background-position: right 0px;
    background-size: 150%;
    opacity: 1;
  }

  85% {
    background-position: center;
    background-size: 110%;
    opacity: 0.8;
  }

  100% {
    background-position: center;
    background-size: 100%;
    opacity: 0.7;
  }
}

.utau_wrap {
  font-family: 'SUITE';
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.iframe_style {
  font-size: 8px;
  color: #ccc;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
